body {
  font-family: Arial, Helvetica, sans-serif; }

html, body, ol, ul, li, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

body {
  width: 100%; }
  body header {
    width: 100%;
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0.8;
    height: 50px; }
    body header .menu {
      position: relative;
      margin-left: 350px; }
      body header .menu ul {
        margin-top: 10px; }
        body header .menu ul li {
          display: inline; }
          body header .menu ul li a {
            font-size: 1em;
            color: white;
            padding: 35px;
            text-decoration: none; }
          body header .menu ul li img {
            position: relative;
            width: 15px;
            height: 20px;
            margin-left: -810px;
            opacity: 0.3; }
  body .body {
    max-width: 100%;
    color: black; }
    body .body .main-banner-inner {
      position: relative;
      text-align: center; }
      body .body .main-banner-inner .banner1 {
        margin-top: 50px;
        background: #dddddd;
        height: 260px;
        width: 100%; }
        body .body .main-banner-inner .banner1 .text-area {
          position: relative;
          top: 60px; }
          body .body .main-banner-inner .banner1 .text-area h2 {
            line-height: 0.5em;
            font-size: 24pt; }
          body .body .main-banner-inner .banner1 .text-area p {
            line-height: 1.5em;
            text-decoration: none;
            font-size: 15pt; }
            body .body .main-banner-inner .banner1 .text-area p a {
              line-height: 2.2em;
              text-decoration: none;
              color: #0000ff; }
      body .body .main-banner-inner .banner2 {
        margin-top: 8px;
        background: #dddddd;
        height: 622px;
        width: 100%; }
        body .body .main-banner-inner .banner2 .text-area {
          position: relative;
          top: 60px; }
          body .body .main-banner-inner .banner2 .text-area h2 {
            line-height: 0.5em;
            font-size: 24pt; }
          body .body .main-banner-inner .banner2 .text-area p {
            line-height: 1.5em;
            text-decoration: none;
            font-size: 15pt; }
            body .body .main-banner-inner .banner2 .text-area p a {
              line-height: 2.2em;
              text-decoration: none;
              color: #0000ff; }
        body .body .main-banner-inner .banner2 img {
          margin-top: 40px; }
      body .body .main-banner-inner .banner3 {
        margin-top: 8px;
        background: #dddddd;
        height: 622px;
        width: 100%; }
        body .body .main-banner-inner .banner3 .text-area {
          position: relative;
          top: 60px; }
          body .body .main-banner-inner .banner3 .text-area h2 {
            line-height: 0.5em;
            font-size: 24pt; }
          body .body .main-banner-inner .banner3 .text-area p {
            line-height: 1.5em;
            text-decoration: none;
            font-size: 15pt; }
            body .body .main-banner-inner .banner3 .text-area p a {
              line-height: 2.2em;
              text-decoration: none;
              color: #0000ff; }
        body .body .main-banner-inner .banner3 img {
          margin-top: 40px;
          width: 500px;
          height: 393px; }
      body .body .main-banner-inner .banner4 {
        margin-top: 8px;
        background: #dddddd;
        height: 622px;
        width: 100%; }
        body .body .main-banner-inner .banner4 .text-area {
          position: relative;
          top: 60px; }
          body .body .main-banner-inner .banner4 .text-area h2 {
            line-height: 0.5em;
            font-size: 24pt; }
          body .body .main-banner-inner .banner4 .text-area p {
            line-height: 1.5em;
            text-decoration: none;
            font-size: 15pt; }
            body .body .main-banner-inner .banner4 .text-area p a {
              line-height: 2.2em;
              text-decoration: none;
              color: #0000ff; }
        body .body .main-banner-inner .banner4 img {
          margin-top: 40px;
          width: 500px;
          height: 393px; }
