@import "reset";
body{
    width: 100%;
    header{
        width: 100%;
        position: absolute;
        top: 0; 
        background: #000;
        opacity: 0.8;
        height: 50px;
        .menu{
            position: relative;
            margin-left: 350px;
        ul{
            margin-top: 10px;
            li{
                display: inline;
                a{
                    font-size: 1em;
                    color: white;
                    padding: 35px;
                    text-decoration: none;
                }
                img{
                    position: relative;
                    width: 15px;
                    height: 20px;
                    margin-left: -810px;
                    opacity: 0.3;
                }
            }
            }
        }
    }
.body{
    max-width: 100%;
    color: black;
    .main-banner-inner{
     position: relative;
    text-align: center; 
    .banner1{
        margin-top: 50px;
        background:#dddddd; 
        height: 260px; 
        width: 100%;
        .text-area{
            position: relative;
            top: 60px;
        h2{
            line-height: 0.5em;
            font-size: 24pt;
            
          }
          p{
              line-height:  1.5em;
              text-decoration: none;
              font-size: 15pt;
    
              a{
                line-height: 2.2em;
                text-decoration: none;
                color: #0000ff;
              }   
    }
}
    }
    .banner2{
        margin-top: 8px;
        background:#dddddd; 
        height: 622px; 
        width: 100%;
        .text-area{
            position: relative;
            top: 60px;
        h2{
            line-height: 0.5em;
            font-size: 24pt;
            
          }
          p{
              line-height:  1.5em;
              text-decoration: none;
              font-size: 15pt;
    
              a{
                line-height: 2.2em;
                text-decoration: none;
                color: #0000ff;
              }   
    }
}
    img{
        margin-top: 40px;
    }
    }
    .banner3{
        margin-top: 8px;
        background:#dddddd; 
        height: 622px; 
        width: 100%;
        .text-area{
            position: relative;
            top: 60px;
        h2{
            line-height: 0.5em;
            font-size: 24pt;
            
          }
          p{
              line-height:  1.5em;
              text-decoration: none;
              font-size: 15pt;
    
              a{
                line-height: 2.2em;
                text-decoration: none;
                color: #0000ff;
              }   
    }
}
    img{
        margin-top: 40px;
        width: 500px;
        height: 393px;
    }
    }  
    .banner4{
        margin-top: 8px;
        background:#dddddd; 
        height: 622px; 
        width: 100%;
        .text-area{
            position: relative;
            top: 60px;
        h2{
            line-height: 0.5em;
            font-size: 24pt;
            
          }
          p{
              line-height:  1.5em;
              text-decoration: none;
              font-size: 15pt;
    
              a{
                line-height: 2.2em;
                text-decoration: none;
                color: #0000ff;
              }   
    }
}
    img{
        margin-top: 40px;
        width: 500px;
        height: 393px;
    }
    }  
}

}
}